<main id="app">
    <div class="container admin">
        <div class="admin__busqueda">
            <span><iconify-icon icon="healthicons:magnifying-glass-outline"></iconify-icon></span>
            <input type="text" name="adminInputBusqueda" id="iDadminInputBusqueda" placeholder="código, nombre o categoría" />
        </div>    
        <div class="admin__encabezado">
            <h1>LISTADO DE PRODUCTOS</h1>
            <a href="#">
                AGREGAR
                <span><a href="/admin/create" class="admin__encabezado--agregar"><iconify-icon icon="basil:add-solid" width="39"></iconify-icon></a></span>
            </a>
        </div>
        <div class="admin__listado">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre de producto</th>
                        <th>Categoría</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
                    console.log(JSON.stringify(items))
                    for (item of items) { 
                    %>
                    <tr class="listado__item">
                        <td><%=  item.product_id %></td>
                        <td><%=  item.product_sku %></td>
                        <td><%=  item.product_name %></td>
                        <td><%=  item.licence_name %></td>
                        <td class="item__options">
                            <span><a class="listado__item--button" href="/admin/edit/<%= item.product_id %>"><iconify-icon icon="material-symbols:edit" width="33" class="item__options--edit"></iconify-icon></a></span>
                            <span><a class="listado__item--button" href="/admin/delete/<%= item.product_id %>"><iconify-icon icon="ph:trash" width="33" class="item__options--trash"></iconify-icon></a></span>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>