<main id="app">
    <div class="container items_page">
        <span>
            <h1 class="compras_encabezado">CARRITO DE COMPRAS</h1>
            <div class="extra"></div>
        </span>
        <div class="compras_tabla_filas compras_tabla fnt-700 encabezado">
            <div class="flex-item">DETALLE PRODUCTO</div>
            <div class="flex-item">CANTIDAD</div>
            <div class="flex-item">TOTAL</div>
            <div class="flex-item">&nbsp;</div>
        </div>
        <% if (cart.length === 0){ %>
        <div class="compras_tabla_filas compras_tabla fnt-700 encabezado">
            <div style="margin:0 auto;">EL CARRITO ESTA VACIO</div>
        </div>
        <% 
        }
        console.log(`\n ${JSON.stringify(cart)} \n`)
        for (let i = 0; i < cart.length; i++){
        %>
        
        <%- include('../../partials/itemCompra',{ item: items[cart[i].cart_item] } ) %>
        <%
        }
        %>
        
        <section class="contenedor_resumen">
        <div class="compras__resumen">
            <span>
                <p class="resumen__titulo">RESUMEN</p>
            </span>
            <div class="resumen__valores">
                <div class="valores__fila">
                    <p>CANTIDAD DE ELEMENTOS</p>
                    <p><%= cart.length %></p>
                </div>
                <div class="valores__fila">
                    <p>SUBTOTAL</p>
                    <p><%= 0 %></p>
                </div>
                <div class="valores__fila">
                    <p>ENVIO</p>
                    <p><%= 0 %></p>
                </div>
                <hr>
                <div class="valores__fila">
                    <p>TOTAL</p>
                    <p><%= 0 %></p>
                </div>
            </div>
            <button>IR A PAGAR</button>
        </div>
        </section>
    </div>
</main>