<main id="app">
    <div class="container items_page">
        <% 
        console.log("-------- ITEM PAGE ------------")
        console.log("item: " + JSON.stringify(items))
        %>
        <article class="item">
            <picture class="card-item__cover">
                <img class="card-item__img--front" src="/img/<%= items.img_front %>" alt="<%= items.product_description %>" />
                <img class="card-item__img--back" src="/img/<%= items.img_back %>" alt="<%= items.product_description %>" />
            </picture>
            <div class="item__descripcion">
                <p class="desc__brand"><%= items.licence_name %></p>
                <h4 class="desc__title"><%= items.product_name %></h4>
                <p class="desc__alt"><%= items.product_description %></p>
                <p class="desc__price"><%= items.product_price %></p>
                <div class="datosCompra">
                    <%- include('../../partials/cantidad',{cantidad: 0} ) %>
                    <button class="agregarAlCarrito">Agregar al carrito</button>
                </div>
                <div class="metodosDePago">
                    <p>Ver metodos de pago</p>
                    <span>-</span>
                    <p><%= items.product_payment%></p>
                </div>
            </div>
        </article>
                
        <!-- Muestro galeria -->
        <%- include('../../partials/galeria', {items: itemsGaleria, baseUrl:baseUrl}) %>
    </div>
</main>
