<main id="app">
    <div class="container items_page">
        
        <article class="item">
            <picture class="card-item__cover">
                <img class="card-item__img--front" src="<%= items[id].image %>" alt="<%= items[id].alt %>" />
                <img class="card-item__img--back" src="<%= items[id].imageHoover %>" alt="<%= items[id].alt %>" />
            </picture>
            <div class="item__descripcion">
                    <p class="desc__brand"><%= items[id].brand %></p>
                    <h4 class="desc__title"><%= items[id].title %></h4>
                    <p class="desc__alt"><%= items[id].alt %></p>
                    <p class="desc__price"><%= items[id].price %></p>
                    <div class="datosCompra">
                      <%- include('../../partials/cantidad',{ items } ) %>
                      <button class="agregarAlCarrito" onclick="agregarACarrito(<%=id%>)">Agregar al carrito</button>
                    </div>
                    <div class="metodosDePago">
                            <p>Ver metodos de pago</p>
                            <span>-</span>
                            <p><%= items[id].payment %></p>
                    </div>
            </div>
        </article>
                
        <!-- Muestro galeria -->
        <%- include('../../partials/galeria', {baseUrl:baseUrl}) %>
    </div>
</main>
