<%
let totalItems = items.length
if (cantidad==0){ cantidad = totalItems}
for (let i = 0; i <= (cantidad -1); i++ )
{ 
%>
<li class="ul__item glide__slide">
  <article>
    <a class="ul__articulos" href="<%= baseUrl %>/item/<%= items[i].product_id %>">
      <picture class="card-item__cover">
        <img class="card-item__img--front" src="/img/<%= items[i].img_front %>" alt="<%= items[i].product_description %>" />
        <img class="card-item__img--back" src="/img/<%= items[i].img_back %>" alt="<%= items[i].product_description %>" />
      </picture>
      <div class="ul__descripcion">
        <p><%= items[i].licence_name%></p>
        <h4><%= items[i].product_name%></h4>
        <p><%= items[i].product_price%></p>
        <p>
          <%=`${items[i].payment} Cuota/s`%>
        </p>
      </div>
      <span class="articulos__sticker"><%= items[i].sticker%></span>
    </a>
  </article>
</li>
<% } %>
