<%= console.log("\n" + JSON.stringify(item) + "\n") %>
<div class="compras_tabla compras_tabla_filas">
  <div class="flex-item compra_item">
    <picture>
        <img src="/img/<%= item.img_front %>" alt="<%= item.product_description %>">
    </picture>
    <div class="compras_item__descripcion">
          <p class="desc__title fnt-700"><%= item.product_name %></p>
          <p class="desc__brand"><%= item.licence_name %></p>
        <p class="desc__price">Precio:&nbsp;<%= item.product_price %></p>
    </div>
  </div>
  <div class="flex-item">
    <%- include('cantidad'), {cantidad: cantidad} %>
  </div>
  <div class="flex-item precio_total"><%= item.product_price * cantidad %></div>
  <div class="flex-item">
    <button class="listado__item--button" onclick="emiteElimina">
        <iconify-icon icon="zondicons:close-outline" style="color: red;" width="28"></iconify-icon>
    </button>
  </div>
</div>
