<main id="app" class="container">
    <div class="admin" style="padding: 24px 36px;">
    <div class="admin__encabezado">
        <h1>EDITAR ITEM</h1>
    </div>                
    <%
    console.log("---------- /admin/edit/x PAGE ---------------")
    console.log("item: " + JSON.stringify(values))

    if (typeof errors != 'undefined') {
    %>
            <ul>
                <% errors.forEach(error => { %>
                    <li style="color:red; font-weight: bold;"><%= error.msg %></li>
                <% }) %>
            </ul>
    <%
        }
    if (typeof values.product_id == 'undefined') {
        values.product_id = id
    }
    %>

    <form
        class="create__form"
        action="/admin/edit/<%= values.product_id %>?_method=PUT"
        method="post"
        enctype="multipart/form-data"
    >    
        <div class="create__fila">
            <label for="CategoryId">Categoria</label>
            <select name="CategoryId" id="CategoryId" class="">
                <option value=""></option>
                <% categorias.forEach(categoria => { %>
                    <option 
                        value="<%= categoria.id %>" 
                        <% if (values.CategoryId){ %>
                        <%= categoria.id == values.CategoryId ? "selected" : "" %>
                        <% } %>
                    >
                    <%= categoria.nombre %>
                    </option>
                    <% }) %>
            </select>
            <label for="LicenceId">Licencia</label>
            <select name="LicenceId" id="LicenceId" class="">
                <option value="""></option>
                <% licencias.forEach(licencia => { %>
                    <option 
                        value="<%= licencia.id %>" 
                        <%= licencia.id == values.LicenceId ? "selected" : "" %>
                    >
                    <%= licencia.nombre %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="create__fila">
            <label for="iNombre">Nombre del producto</label>
            <input type="text" id="iNombre" name="product_name" value="<%= typeof values != 'undefined' ? values.product_name : '' %>">
        </div>
        <textarea name="product_description" id="iDescripcion" cols="30" rows="10" placeholder="Descripción del producto"><%= typeof values != 'undefined' ? values.product_description : '' %></textarea>
        <div class="create__fila">
            <label for="iSKU">SKU</label>
            <div class="input_container">
                <input type="text" id="iSKU" name="product_sku" value="<%= typeof values != 'undefined' ? values.product_sku : '' %>">
            </div>
            <label for="iPrecio">Precio</label>
            <div class="input_container">
                <input type="number" id="iPrecio" name="product_price" value="<%= typeof values != 'undefined' ? values.product_price : '' %>">
            </div>
            <label for="iStock">Stock</label>
            <div class="input_container">
                <input type="number" id="iStock" name="product_stock" value="<%= typeof values != 'undefined' ? values.product_stock : '' %>">
            </div>
        </div>
        <div class="create__fila">
            <label for="iDescuento">Descuento</label>
            <input type="number" id="descuento" name="iDescuento" placeholder="0%" value="0">
            <label for="iCuotas">Cuotas</label>
            <select name="dues" id="iCuotas" class="">
                <option value="1" selected>1 cuota</option>
                <option value="2">2 cuotas</option>
                <option value="3">3 cuotas</option>
            </select>
        </div>
        <div class="create__fila">
            <label for="img_front">Imagen front</label>
            <input type="file" name="img_front" id="img_front" accept="image/*">
        </div>
        <div class="create__fila">
                <% if (typeof values.Licence?.nombre != 'undefined'){ %>
                <div class="create__imagen">
                <img
                    width="50"
                    src="/img<%= values.img_front %>"
                    alt="<%= values.product_name %>"
                />
                FRENTE
                </div>
                <div class="create__imagen">
                    <img
                        width="50"
                        src="/img<%= values.img_back %>"
                        alt="<%= values.product_name %>"
                    />
                    DORSO
                    </div>
                <% } %>
        </div>
        <div class="create__fila">
            <button type="submit">Modificar producto</button>
        </div>
    </form>
    </div>
</main>